<h1>Index</h1>

Things you can do:
<ul>
	<li>
        <a href="{% url 'rpmpb:mini-index' %}">
        	A list of miniatures               
        </a>
    </li>
    <li>
        <a href="{% url 'rpmpb:album-index' %}">
        	A list of albums       
        </a>
    </li>
    <li>
        <a href="{% url 'rpmpb:tag-index' %}">
        	A list of tags
        </a>
    </li>
    <li>
        <a href="{% url 'rpmpb:photo-index' %}">
        	A list of photoshootings
        </a>
    </li>
</ul>    