<h1>Miniatures Index</h1>



<p>
    <a href="{% url 'rpmpb:index' %}">Back to overview</a>
</p>

<p>
    <a href="{% url 'rpmpb:mini-create' %}">New miniature</a>
</p>

{% if minis %}
    <ul>
    {% for mini in minis %}
        <li>
            <a href="{% url 'rpmpb:mini-detail'  mini.slug_name %}">
                {{ mini.name }}
            </a>&nbsp;
            <a href="{% url 'rpmpb:mini-delete' mini.slug_name %}">
                [X]
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No miniatures are available.</p>
{% endif %}