<h1>{{ miniature }}</h1>

{% if error_message %}
<p>
	<strong>{{ error_message }}</strong>
</p>
{% endif %}

<p>
	<a href="{% url 'rpmpb:mini-index' %}">Back to list</a>
</p>

<p>
	<a href="{% url 'rpmpb:mini-delete' miniature.slug_name %}">Delete</a>
</p>

<div>
Description: {{ miniature.description }}
</div>

<div>
Tags:
<ul>
    {% for tag in miniature.tags.all %}
    <li>
        <a href="{% url 'rpmpb:tag-detail'  tag.slug_name %}">
            {{ tag }}
        </a>
    </li>
    {% endfor %}
</ul>
</div>


<div>
Belongs to these albums:
<ul>
    {% for album in miniature.album_set.all %}
    <li>
        <a href="{% url 'rpmpb:album-detail' album.slug_name %}">
            {{ album.name }}
        </a>
    </li>
    {% endfor %}
</ul>
</div>
